
*{
    		margin: 0px;
    		padding: 0px;
    		font-family: "微软雅黑";
    	}
 a:hover{
 	cursor: pointer;
 }
#demo{
    		width: 710px;
    		height: 1500px;
    		overflow-y: auto;
    		/*border:1px solid pink;*/
    		text-align: center;
    		margin: 0px auto;
    		position: relative;
    	}
 #logo1{
    		height: 120px;
    		
    	
    	}
#logo2{
    		height: 80px;
    		
    	}
    	
#header{
	margin-top:3px;
	height: 50px;
	
}
.ul1 li{
	list-style: none;
	line-height: 50px;
	text-align: center;
	float: left;
	width: 173px;
	background-color: #00BBFF;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.ul li:hover{
	background-color: #FFFFFF;
}
.ul1 li a{
	text-decoration: none;
}
#banner1{
	height:410px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
}
#srk{
	height:100px;
	margin: 30px 0px 30px 0px;
}
.tex1{
	width:295px;
	height:60px;
	border-radius:10px 0px 0px 10px;
   
}
.sub1{
	width:200px;
	height:60px;
	border-radius:0px 10px 10px 0px;
	background-color: #00BBFF;
	font-size: 20px;
	
}
#readline{
	height: 560px;
}
#readlin_left{
	height:240px;
	background-repeat: no-repeat;
	margin-left: 70px;
	text-align: left;
}
#readlin_but{
	height:80px;
	text-align:center;
	margin-top: 15px;
}
#readlin_but2{
	height:200px;
	text-align:center;
	margin-top: 15px;
	border:1px dashed #DDDDDD;
}
#lylin{
	height: 150px;
	background-color: #33CCFF;
	margin-top: 10px;
}
#luxian{
	height:2900px;
	margin-top: 30px;
}
#xcfa{
	height:250px;
	
}
#xcfa a{
	padding-left: 30px;
}

.cxfs{
	text-align: center;
}
#wxts{
	width:160px;
}
#lux{
	margin-top: 30px;
	height: 130px;
	background-image: url(../images/mapbj.jpg);
	background-repeat: no-repeat;
}
#lux h1{
	letter-spacing:5px;
	color: #FFFFFF;
}
#lux input{
	padding-bottom: 0px;
	font-size:20px;
	text-align: center;
	
}
#dzgh{
	margin-top: 30px;
	height: 450px;
	border:1px dashed #DDD;
}
.tex2{
	width:250px;
	height: 40px;
	border: 1px solid #000000;
	font-size:20px;
	text-align: center;
}
.subtj{
	height: 40px;
	width: 200px;
	background-color: #FF8800;
}
#dzgh h3{
	color: #FF3333;
}
#db-foot{
	height: 380px;
	background-image: url(../images/foot.jpg);
	background-repeat: no-repeat;
	text-align: left;
}
#foot-left{
	height:300px;
	width: 250px;
	float: left;
}
#foot-left img{
	padding-top: 65px;
	padding-left: 70px;
	
}
#foot-rig{
	height: 150px;
	width: 350px;
	float: right;
  	margin-top: 130px;
}
#foot-rig dl dt{
	float: left;
	
}

